수업/06_WCF/0507도서_클라/0507_PictureClient/Connected Services/ServiceReference1/bookservice.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://220.90.180.108:8888/wcf/example/bookservice?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/_0507_PictureService" />
  <xs:element name="C_Insert">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="isbn" type="xs:int" />
        <xs:element minOccurs="0" name="title" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="author" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="publisher" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="price" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="C_InsertResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="C_InsertResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="C_Update">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="isbn" type="xs:int" />
        <xs:element minOccurs="0" name="title" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="author" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="publisher" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="price" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="C_UpdateResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="C_UpdateResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="C_Select_Isbn">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="isbn" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="C_Select_IsbnResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="C_Select_IsbnResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="C_Delete">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="isbn" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="C_DeleteResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="C_DeleteResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="C_Select_All">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="C_Select_AllResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/_0507_PictureService" minOccurs="0" name="C_Select_AllResult" nillable="true" type="q1:ArrayOfBook" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>