0507_도서관리_서버&클라(폼)/0507도서_클라/0507_PictureClient/Connected Services/ServiceReference1/CBook.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tns="http://tempuri.org/" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" name="CBook" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://220.90.180.108:8888/wcf/example/bookservice?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://220.90.180.108:8888/wcf/example/bookservice?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://220.90.180.108:8888/wcf/example/bookservice?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/_0507_PictureService" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IBook_C_Insert_InputMessage">
    <wsdl:part name="parameters" element="tns:C_Insert" />
  </wsdl:message>
  <wsdl:message name="IBook_C_Insert_OutputMessage">
    <wsdl:part name="parameters" element="tns:C_InsertResponse" />
  </wsdl:message>
  <wsdl:message name="IBook_C_Update_InputMessage">
    <wsdl:part name="parameters" element="tns:C_Update" />
  </wsdl:message>
  <wsdl:message name="IBook_C_Update_OutputMessage">
    <wsdl:part name="parameters" element="tns:C_UpdateResponse" />
  </wsdl:message>
  <wsdl:message name="IBook_C_Select_Isbn_InputMessage">
    <wsdl:part name="parameters" element="tns:C_Select_Isbn" />
  </wsdl:message>
  <wsdl:message name="IBook_C_Select_Isbn_OutputMessage">
    <wsdl:part name="parameters" element="tns:C_Select_IsbnResponse" />
  </wsdl:message>
  <wsdl:message name="IBook_C_Delete_InputMessage">
    <wsdl:part name="parameters" element="tns:C_Delete" />
  </wsdl:message>
  <wsdl:message name="IBook_C_Delete_OutputMessage">
    <wsdl:part name="parameters" element="tns:C_DeleteResponse" />
  </wsdl:message>
  <wsdl:message name="IBook_C_Select_All_InputMessage">
    <wsdl:part name="parameters" element="tns:C_Select_All" />
  </wsdl:message>
  <wsdl:message name="IBook_C_Select_All_OutputMessage">
    <wsdl:part name="parameters" element="tns:C_Select_AllResponse" />
  </wsdl:message>
  <wsdl:portType name="IBook">
    <wsdl:operation name="C_Insert">
      <wsdl:input wsaw:Action="http://tempuri.org/IBook/C_Insert" message="tns:IBook_C_Insert_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBook/C_InsertResponse" message="tns:IBook_C_Insert_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="C_Update">
      <wsdl:input wsaw:Action="http://tempuri.org/IBook/C_Update" message="tns:IBook_C_Update_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBook/C_UpdateResponse" message="tns:IBook_C_Update_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="C_Select_Isbn">
      <wsdl:input wsaw:Action="http://tempuri.org/IBook/C_Select_Isbn" message="tns:IBook_C_Select_Isbn_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBook/C_Select_IsbnResponse" message="tns:IBook_C_Select_Isbn_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="C_Delete">
      <wsdl:input wsaw:Action="http://tempuri.org/IBook/C_Delete" message="tns:IBook_C_Delete_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBook/C_DeleteResponse" message="tns:IBook_C_Delete_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="C_Select_All">
      <wsdl:input wsaw:Action="http://tempuri.org/IBook/C_Select_All" message="tns:IBook_C_Select_All_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBook/C_Select_AllResponse" message="tns:IBook_C_Select_All_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IBook" type="tns:IBook">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="C_Insert">
      <soap:operation soapAction="http://tempuri.org/IBook/C_Insert" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="C_Update">
      <soap:operation soapAction="http://tempuri.org/IBook/C_Update" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="C_Select_Isbn">
      <soap:operation soapAction="http://tempuri.org/IBook/C_Select_Isbn" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="C_Delete">
      <soap:operation soapAction="http://tempuri.org/IBook/C_Delete" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="C_Select_All">
      <soap:operation soapAction="http://tempuri.org/IBook/C_Select_All" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="CBook">
    <wsdl:port name="BasicHttpBinding_IBook" binding="tns:BasicHttpBinding_IBook">
      <soap:address location="http://220.90.180.108:8888/wcf/example/bookservice" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>