0508_Form + WCF (노이중)_찐/Zoo_Client/Zoo_Client/Connected Services/ServiceReference1/GetService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Zoo_Service" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Zoo_Service" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="Zoo">
    <xs:sequence>
      <xs:element minOccurs="0" name="Age" type="xs:int" />
      <xs:element minOccurs="0" name="Country" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Zoo" nillable="true" type="tns:Zoo" />
  <xs:complexType name="ArrayOfZoo">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Zoo" nillable="true" type="tns:Zoo" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfZoo" nillable="true" type="tns:ArrayOfZoo" />
</xs:schema>