0509시험_천호준/05059_시험_Client/05059_시험_Client/Connected Services/ServiceReference1/AccountService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tns="http://tempuri.org/" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" name="AccountService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://220.90.180.108:9000/GetService?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://220.90.180.108:9000/GetService?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://220.90.180.108:9000/GetService?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/_0509_%EC%8B%9C%ED%97%98_Service" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IAccount_InsertAccount_InputMessage">
    <wsdl:part name="parameters" element="tns:InsertAccount" />
  </wsdl:message>
  <wsdl:message name="IAccount_InsertAccount_OutputMessage">
    <wsdl:part name="parameters" element="tns:InsertAccountResponse" />
  </wsdl:message>
  <wsdl:message name="IAccount_InputMoney_InputMessage">
    <wsdl:part name="parameters" element="tns:InputMoney" />
  </wsdl:message>
  <wsdl:message name="IAccount_InputMoney_OutputMessage">
    <wsdl:part name="parameters" element="tns:InputMoneyResponse" />
  </wsdl:message>
  <wsdl:message name="IAccount_DeleteAccount_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteAccount" />
  </wsdl:message>
  <wsdl:message name="IAccount_SelectAccount_InputMessage">
    <wsdl:part name="parameters" element="tns:SelectAccount" />
  </wsdl:message>
  <wsdl:message name="IAccount_SelectAccount_OutputMessage">
    <wsdl:part name="parameters" element="tns:SelectAccountResponse" />
  </wsdl:message>
  <wsdl:message name="IAccount_SelectAllAccount_InputMessage">
    <wsdl:part name="parameters" element="tns:SelectAllAccount" />
  </wsdl:message>
  <wsdl:message name="IAccount_SelectAllAccount_OutputMessage">
    <wsdl:part name="parameters" element="tns:SelectAllAccountResponse" />
  </wsdl:message>
  <wsdl:portType name="IAccount">
    <wsdl:operation name="InsertAccount">
      <wsdl:input wsaw:Action="http://tempuri.org/IAccount/InsertAccount" message="tns:IAccount_InsertAccount_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAccount/InsertAccountResponse" message="tns:IAccount_InsertAccount_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="InputMoney">
      <wsdl:input wsaw:Action="http://tempuri.org/IAccount/InputMoney" message="tns:IAccount_InputMoney_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAccount/InputMoneyResponse" message="tns:IAccount_InputMoney_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteAccount">
      <wsdl:input wsaw:Action="http://tempuri.org/IAccount/DeleteAccount" message="tns:IAccount_DeleteAccount_InputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SelectAccount">
      <wsdl:input wsaw:Action="http://tempuri.org/IAccount/SelectAccount" message="tns:IAccount_SelectAccount_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAccount/SelectAccountResponse" message="tns:IAccount_SelectAccount_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SelectAllAccount">
      <wsdl:input wsaw:Action="http://tempuri.org/IAccount/SelectAllAccount" message="tns:IAccount_SelectAllAccount_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAccount/SelectAllAccountResponse" message="tns:IAccount_SelectAllAccount_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IAccount" type="tns:IAccount">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="InsertAccount">
      <soap:operation soapAction="http://tempuri.org/IAccount/InsertAccount" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InputMoney">
      <soap:operation soapAction="http://tempuri.org/IAccount/InputMoney" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteAccount">
      <soap:operation soapAction="http://tempuri.org/IAccount/DeleteAccount" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="SelectAccount">
      <soap:operation soapAction="http://tempuri.org/IAccount/SelectAccount" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SelectAllAccount">
      <soap:operation soapAction="http://tempuri.org/IAccount/SelectAllAccount" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="AccountService">
    <wsdl:port name="BasicHttpBinding_IAccount" binding="tns:BasicHttpBinding_IAccount">
      <soap:address location="http://220.90.180.108:9000/GetService" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>