0508_Form+WCF(이중)/0508_Book_Client/0508_Book_Client/Connected Services/ServiceReference1/BookService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tns="http://tempuri.org/" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" name="BookService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="NetTcpBinding_IBook_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <wsrm:RMAssertion xmlns:wsrm="http://schemas.xmlsoap.org/ws/2005/02/rm/policy">
          <wsrm:InactivityTimeout Milliseconds="600000" />
          <wsrm:AcknowledgementInterval Milliseconds="200" />
        </wsrm:RMAssertion>
        <msb:BinaryEncoding xmlns:msb="http://schemas.microsoft.com/ws/06/2004/mspolicy/netbinary1" />
        <wsaw:UsingAddressing />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://220.90.180.108:9000/GetService?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://220.90.180.108:9000/GetService?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://220.90.180.108:9000/GetService?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/_0508_Book_Service" />
      <xsd:import schemaLocation="http://220.90.180.108:9000/GetService?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IBook_Insert_InputMessage">
    <wsdl:part name="parameters" element="tns:Insert" />
  </wsdl:message>
  <wsdl:message name="IBook_Insert_OutputMessage">
    <wsdl:part name="parameters" element="tns:InsertResponse" />
  </wsdl:message>
  <wsdl:message name="IBook_Delete_InputMessage">
    <wsdl:part name="parameters" element="tns:Delete" />
  </wsdl:message>
  <wsdl:message name="IBook_Select_InputMessage">
    <wsdl:part name="parameters" element="tns:Select" />
  </wsdl:message>
  <wsdl:message name="IBook_Select_OutputMessage">
    <wsdl:part name="parameters" element="tns:SelectResponse" />
  </wsdl:message>
  <wsdl:message name="IBook_Update_InputMessage">
    <wsdl:part name="parameters" element="tns:Update" />
  </wsdl:message>
  <wsdl:message name="IBook_Update_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateResponse" />
  </wsdl:message>
  <wsdl:message name="IBook_Select_All_InputMessage">
    <wsdl:part name="parameters" element="tns:Select_All" />
  </wsdl:message>
  <wsdl:message name="IBook_Select_All_OutputMessage">
    <wsdl:part name="parameters" element="tns:Select_AllResponse" />
  </wsdl:message>
  <wsdl:message name="IBook_Notify_Print_All_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:Notify_Print_All" />
  </wsdl:message>
  <wsdl:portType name="IBook">
    <wsdl:operation name="Insert">
      <wsdl:input wsaw:Action="http://tempuri.org/IBook/Insert" message="tns:IBook_Insert_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBook/InsertResponse" message="tns:IBook_Insert_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Delete">
      <wsdl:input wsaw:Action="http://tempuri.org/IBook/Delete" message="tns:IBook_Delete_InputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Select">
      <wsdl:input wsaw:Action="http://tempuri.org/IBook/Select" message="tns:IBook_Select_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBook/SelectResponse" message="tns:IBook_Select_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Update">
      <wsdl:input wsaw:Action="http://tempuri.org/IBook/Update" message="tns:IBook_Update_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBook/UpdateResponse" message="tns:IBook_Update_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Select_All">
      <wsdl:input wsaw:Action="http://tempuri.org/IBook/Select_All" message="tns:IBook_Select_All_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBook/Select_AllResponse" message="tns:IBook_Select_All_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Notify_Print_All">
      <wsdl:output wsaw:Action="http://tempuri.org/IBook/Notify_Print_All" message="tns:IBook_Notify_Print_All_OutputCallbackMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="NetTcpBinding_IBook" type="tns:IBook">
    <wsp:PolicyReference URI="#NetTcpBinding_IBook_policy" />
    <soap12:binding transport="http://schemas.microsoft.com/soap/tcp" />
    <wsdl:operation name="Insert">
      <soap12:operation soapAction="http://tempuri.org/IBook/Insert" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Delete">
      <soap12:operation soapAction="http://tempuri.org/IBook/Delete" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="Select">
      <soap12:operation soapAction="http://tempuri.org/IBook/Select" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Update">
      <soap12:operation soapAction="http://tempuri.org/IBook/Update" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Select_All">
      <soap12:operation soapAction="http://tempuri.org/IBook/Select_All" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Notify_Print_All">
      <soap12:operation soapAction="http://tempuri.org/IBook/Notify_Print_All" style="document" />
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="BookService">
    <wsdl:port name="NetTcpBinding_IBook" binding="tns:NetTcpBinding_IBook">
      <soap12:address location="net.tcp://220.90.180.108:8000/Chating" />
      <wsa10:EndpointReference>
        <wsa10:Address>net.tcp://220.90.180.108:8000/Chating</wsa10:Address>
      </wsa10:EndpointReference>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>